[flake8]
# Максимальная длина строки
max-line-length = 88

# Исключенные файлы и папки
exclude = venv, __pycache__, .git, .tox, .pytest_cache

# Игнорируйте конкретные ошибки
ignore =
    E203,  # Коллизии с Black (разрешить пробел перед ":")
    W503   # Линия перед бинарным оператором