# pyproject.toml
[tool.ruff]
line-length = 88
target-version = "py311"

# Включаемые правила
select = [
    "ALL",
]

# Игнорируемые правила
ignore = [
    "E501", # line too long - handled by ruff
    "B905", # zip without strict parameter
    "B008", # do not perform function calls in argument defaults
    "DTZ005", # need fixed offset from UTC
    "D100",
    "D107",
    "D104",
    "RUF001",
    "RUF002",
    "RUF003",
    "RUF012",
    "FBT001",
    "FBT002",
    "TRY300",
    "TRY301",
]

# Настройки для конкретных правил
[tool.ruff.isort]
known-first-party = ["track-cleaner"]

[tool.ruff.flake8-quotes]
inline-quotes = "double"
multiline-quotes = "double"
docstring-quotes = "double"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["PT008", "PT012"]

### Mypy configuration
[tool.mypy]
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict_equality = true
ignore_missing_imports = true

# Постепенное внедрение типов
[[tool.mypy.overrides]]
module = [
    "tests.*",
    "*.tests",
    "test.*",
    "*.test"
]
disallow_untyped_defs = false
disallow_incomplete_defs = false
